<div class="home">  
    <div class="intro">
        <h1>Choose What Kind of Work you Want to Publish</h1>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <div class="tableEntry">
                    
                    </div>
                </td>
                <td>
                    <div class="tableEntry">
                            
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tableEntry">
                    
                    </div>
                </td>
                <td>
                    <div class="tableEntry">
                            
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

