.homeMain{
    background-color: #111;
    padding: .5em;
    
}

.home{
    background-color: whitesmoke;
    margin: 0;
    padding: 5em;
    height:  1250px;
    border: 6px solid #222;
}

.intro{
    background-color: whitesmoke;
    text-align: center;
    border: 6px solid #333;
    width: 1400px;
    max-width: 107.5%;
    margin-top: -5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
